.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.all-content{
  background: #f7f5f2;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #b2744c;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}
/* navbar */
#navbar{
  background-image: url("20535-NSNRWU-removebg-preview\ \(1\).png"), linear-gradient(
    to right,
    #6F4e37,
    #6F4e37,
    #654335,
    #654335,
    #51312E,
    #432D2b,
    #432D2b,
    #322626
  );
}
#logo img{
  border-radius: 10px;
  width: 200px;
  margin-left: 40px;
}
.navbar-nav{
  margin-left: 50px;
}
/* home content */
#home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
}
.content{
  padding-top: 210px;
  margin-left: 56px;
}
.content h3{
  font-size: 60px;
  color: white;
}
.content p{
  font-size: 30px;
  margin-top: 10px;
  color: white;
}
#btn{
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
#btn:hover{
  background: #b2744c;
  color: white;
}

@media screen and (max-width:1440px){
  .content{
    position: relative;
    top: -120px;
  }
  #home{
    height: 65vh;
  }
  .content h3{
    font-size: 70px;
  }
  .content p{
    font-size: 20px;
  }
  #btn{
    font-size: 20px;
    width: 100px;
    height: 45px;
  }
}
@media screen and (max-width:1200px){
  #home{
    height: 70vh;
  }
  .content{
    position: relative;
    bottom: 100px;
  }
  .content h3{
    font-size: 70px;
  }
  .content p{
    font-size: 30px;
  }
  #btn{
    font-size: 20px;
    width: 120px;
    height: 45spx;
  }
}

@media screen and (max-width:982px){
  .content h3{
    text-align: center;
  }
  .content p{
    text-align: center;
  }
  .center{
    text-align: center;
  }
  #home{
    background-position: 52%;
  }
  
}
@media screen and (max-width:768px){
  .content {
    position: relative;
    bottom: 100px;
  };
  .content h3{
    text-align: center;
  }
  .content p{
    text-align: center;
  }
  .center{
    text-align: center;
  }
  #home{
    background-position: 52%;
  }
}
@media screen and (max-width:370px){
  .content h3{
    text-align: center;
  }
  .content p{
    text-align: center;
  }
  .center{
    text-align: center;
  }
}
@media screen and (max-width:360px){
  .content h3{
    font-size: 50px;
    text-align: center;
  }
  
  .content p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width:320px){
  #btn{
    position: relative;
    right: 30px;
    font-size: 12px;
    width: 30%;
    height: 33px;
  }
  .content h3{
    position: relative;
    right: 10px;
    font-size: 50px;
    text-align: start;
  }
  .content p{
    position: relative;
    right: 10px;
    font-size: 18px;
    text-align: start;
    margin-top: 20px;
  }
  #btn{
    position: relative;
    right: 60px;
  }
}

@media screen and (max-width:457px){
.content h3{
  text-align: start;
  font-size: 60px;
}
.content p{
  font-size: 25px;
  text-align: start;
}
#btn{
  position: relative;
  right: 130px;
}
}


@media screen and (max-width:375px){
  .content h3{
    font-size: 50px;
    text-align: start;
  }
  .content p{
    font-size: 18px;
    text-align: start;
    margin-top: 20px;
  }
  #btn{
    position: absolute;
    left: -115px;
    width: 30%;
    height: 50%;
    font-size: 15px;
  }
}
@media screen and (max-width:425px){
  .content{
    position: relative;
    bottom: 100px;
  }
  .content h3{
    font-size: 50px;
    text-align: start;
  }
  .content p{
    font-size: 18px;
    text-align: start;
    margin-top: 20px;
  }
  #btn{
    position: relative;
    right: 130px;
  }
}


/* about */
#about{
  width: 100%;
  height: 100vh;
  background: #ffffff;
}
#about .container{
  padding-top: 70px;
}
.heading{
  text-align: center;
  margin-bottom: 30px;
  color: #aa734e;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

#about p{
  position: relative;
  top: 30px;
}

#about .card{
  border-radius: 10px;
}
#about .card img{
  border-radius: 10px;
}

@media screen and (max-width:1440px){
  #about{
    height: 120vh;
  }
  #about p{
    font-size: 23px;
  }
}
@media screen and (max-width:1200px){
  #about{
    height: 65vh;
  }
  #about p{
    font-size: 15px;
  }
}
@media screen and (max-width:1024px){
  #about{
    height: 95vh;
  }
  #about p{
    font-size: 15px;
  }
}


@media screen and (max-width:982px){
  #about p{
    font-size: 11.5px;
    position: relative;
    top: 10px;
  }
  #about h3{
    text-align: start;
  }
  #about{
    height: 80vh;
  }
}
@media screen and (max-width:770px){
  #about p{
    font-size: 15px;
    text-align: center;
  }
  #about{
    height: 105vh;
  }
  #about h3{
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width:430px){
 #about{
  height: 130vh;
 }
}
@media screen and (max-width:390px){
  #about p{
    font-size: 12px;
    text-align: center;
  }
  #about{
    height: 120vh;
  }
  #about h3{
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width:360px){
  #about {
 height: 135vh;
  }
 }
  @media screen and (max-width:320px){
    #about {
   height: 115vh;
    }
}



/* top cards */
.top-cards{
  position: relative;
  bottom: 300px;
  width: 100%;
  height: 70vh;
  background: #ffffff;
}
.heading2{
  color: black;
  text-align: center;
  font-size: 60px;
  font-weight: bold;

}
.heading2 span{
  color: #b2744c;
}
.top-cards .container{
  margin-top: 30px;
}
.top-cards .card{
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.top-cards .card img{
  border-radius: 10px;
}
.top-cards .card h3{
  text-align: center;
  padding-top: 78px;
  color: white;
}

@media screen and (max-width:1440px){
  .top-cards{
    height: 80vh;
  }
}
@media screen and (max-width:1200px){
  .top-cards{
    height: 45vh;
  }
}
@media screen and (max-width:1024px){
  .top-cards{
    height: 65vh;
  }
}


@media screen and (max-width: 982px){
  .top-cards{
    height: 50vh;
  }
}
@media screen and (max-width:768px){
  .top-cards{
    height: 60vh;
   } 
}
@media screen and (max-width:767px){
 .top-cards{
  height: 150vh;
 } 
}
@media screen and (max-width:500px){
 .top-cards{
  height: 140vh;
 } 
}

@media screen and (max-width:430px){
  .top-cards{
    height: 145vh;
  }
}

@media screen and (max-width:375px){
 .top-cards{
  height: 130vh;
 } 

 @media screen and (max-width:360px){
  .top-cards{
   height: 150vh;
  }  
}
@media screen and (max-width:320px){
  .top-cards{
   height: 115vh;
  }  
}
}


/* gallery */

#gallery{
  height: 20vh;
  position: relative;
  bottom: 550px;
  width: 100%;
}
#gallery h1{
  text-align: center;
  color: black;
  margin-top: 60px;
  font-weight: bold;
  font-size: 60px;
}
#gallery h1 span{
  color: #b2744c;
}
#gallery .card{
  border-radius: 10px;
}
#gallery .card img{
  border-radius: 10px;
  cursor: pointer;
}


/* footer */
#footer{
  position: relative;
  top: 100px;
  width: 100%;
  margin-top: 50px;
  background-image: url("20535-NSNRWU-removebg-preview\ \(1\).png"), linear-gradient(
    to right,
    #6F4e37,
    #6F4e37,
    #654335,
    #654335,
    #51312E,
    #432D2b,
    #432D2b,
    #322626
  )
}
.footer-logo img{
  width: 200px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
#footer .socail-links i{
  font-size: 17px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width:982px){
  #footer{
   position: absolute;
   top: 2300px;
  } 
}

@media screen and (max-width:768px){
  #footer{
   position: relative;
   top: 3vh;
  } 
}

@media screen and (max-width:500px){
  #footer{
   position: relative;
   top: 1500px;
  } 
}

@media screen and (max-width:370px){
  #footer{
    position: relative;
    top: 1000px;
  } 
}
@media screen and (width:820px){
  #footer{
   position: relative;
   top: 10px;
  } 
}
@media screen and (width:853px){
  #footer{
   position: relative;
   top: 100px;
  } 
}
@media screen and (width:912px){
  #footer{
   position: relative;
   top:1px;
  } 
}
html{
  scroll-behavior: smooth;
}

